.authors {

  &__img {
    width: 85px;
    height: 85px;
    border: 5px solid #FFFDFA;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
  }

  &__role {
    text-align: center;
    opacity: .75;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .fab {
    font-size: 1.5em;
  }

  .card {
    transition: all .3s ease-in-out .1s;
  }

  .card:hover {
    background: $mainGreen;
    color: white;
  }
}