.showcase {
  position: relative;

  h1 {
    font-size: 2.5rem !important;

    @include responsive(atMedium) {
      font-size: 3.2rem !important;
    }

    @include responsive(atLarge) {
      font-size: 4rem !important;
    }
  }

  p {
    font-size: 1rem;

    @include responsive(atMedium) {
      font-size: 1.35rem;
    }

    @include responsive(atXtraLarge) {
      font-size: 1.5rem;
    }
  }

  .primary-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    background: $mainBlue;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: .5rem solid #FFFDFA;
    border-top-left-radius: 3rem;
    margin-top: 3rem;
    transform: rotate(15deg);
    overflow: hidden;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .5);

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}